<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Manufacturer</title>
</head>
<body>
    
    {{> navbar}}

    <div class="manufWrapper">
        <h2>Manufacturer</h2>
        <form action="/manufSubmit" class="manufForm" name="manufForm" method="POST">
            <div class="input-box">
            Customer Name: <input type="text" id="customerName" name="customerName" required>
            </div>
            
            <div class="input-box">
            Order Number: <input type="text" id="orderNo" name="orderNo" required>
            </div>

            <div class="input-box">
            Manufacturer Name: <input type="text" id="manName" name="manName" required>
            </div>

            <div class="input-box">
            Manufacturing Date: <input type="text" id="manDate" name="manDate" required>
            </div>

            <div class="input-box">
            Order Detais: <input type="text" id="orderDetails" name="orderDetails" required>
            </div>

            <div class="input-box">
            Invoice Details: <input type="text" id="manInvoice" name="manInvoice" required>
            </div>

            <div class="input-box">
            Expiry Date: <input type="text" id="expiryDate" name="expiryDate" required>
            </div>

            <div class="input-box">
            Expected Dispatch Date: <input type="text" id="manExpectedDispatch" name="manExpectedDispatch" required>
            </div>

            <div class="input-box">
            Dispatch Date: <input type="text" id="manActualDispatch" name="manActualDispatch" required>
            </div>

            <div class="input-box">
            Price: <input type="text" id="manPrice" name="manPrice" required>
            </div>

            <div class="input-box-button">
            <input type="submit" value="Submit">
            </div>

        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

</body>
</html>